#about{
    background-color: #f6f6f6;
    
    .container{
        .row{
            padding-top: 80px;
            padding-bottom: 80px;
            .row{
                padding: 0;
                padding-top: 10px;
            }
        
        
        .about-icons-blok{
            width: 50px;
            height: 50px;
            box-sizing: border-box;
            background-color: #00c9b1;
            text-align: center;
            margin-bottom: 10px;
         
            i{
                font-size: 25px;
                color: white;
                margin-top: 11px;
            }
           
        }
       p{
        margin-top: 10px;
        &:last-child{
            margin-left: 10px;
        }
       }
       .social-icons{
           margin-top: 25px;
           
           .social-icons-blok{
               width: 43px;
               height: 43px;
               color: white;
               box-sizing: border-box;
               border: 2px solid black;
               text-align: center;
               margin-right: 17px;
               &:hover{
                background-color: #00c9b1;
                border: none;
                transition: 0.2s;
                i{
                    color: white;
                    transition: 1.5s ease 0s;
                }
            }
               i{
                  color: black;
                  font-size: 16px;
                  margin-top: 10px; 
               }
           }
       }
       .buttons{
		width: 140px;
		height: 40px; 
		position: relative;
		transition: 3s;
		overflow: hidden;
        border: 1px solid #00c9b1;
        margin-top: 25px;
		a{
			position: relative;
			z-index: 5;
			color: white;
		}
		.button{
			width: 100%;
			height: 40px;
			background-color: white;
			color: #00c9b1;;
			position: absolute;
			transition: 0.8s;
			top: 0px;
            left: 0px;
            
			}
			.button-overlay, .button-overlay-top{
				width: 100%;
				height: 40px;
				background-color: #00c9b1;
				position: absolute;
				z-index: 3;
				top: 0px;
				left: 0px;
				transition: 0.8s;
			}
			&:hover{
				.button-overlay{
				width: 0;
				top: 0;
				left: 140px;
				}
				.button-overlay-top{
					height: 0;
					top: 40px;
				}
				
				a{
					color: #00c9b1;
				}
                }
                
}
        //our working
         .our{
             
             .progress-bar-block{
                 p{
                    margin-bottom: 3px;
                    margin-top: 35px;
                
                 }
                 .progress{
                    background-color: grey;
                    .progress-bar{
                        background-color:  #00c9b1;
                        h6{
                            font-size: 13px;
                            text-align: right;
                            padding-top: 5px;
                            color: white;
                        }
                    }
                       
                     }
             }
             
             }
         
}
    }
}

#about{
    .us{
        margin-bottom: 30px;
    }
}