span{
	color: #02ffe1;
}

.section-top-words {
	.top-text{
        text-align: center;
        p{
            font-size: 15px;
            font-weight: 400;
            position: relative;
        }
        p::after{
            content: " " ;
            background-color:#02ffe1;
            width: 13px;
            height: 13px;
            position: absolute;
            top: 150%;
            left: 50%;
            transform: rotate(45deg);
        }
        p::before{
            content: " " ;
            background-color:#02ffe1;
            width: 100px;
            height: 2px;
            position: absolute;
            top: 162%;
            left: 44%;
        }
    }
}


.main-blocks{
	.feature-blok{
        padding: 0px 15px;
        height: 215px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
        text-align: center ;
		position: relative;
		top: 0;
		left: 0;
		transition: 0.7s;
		&:hover{
			top: -15px;
			left: 0;
			
			.feature-icon{
				top: 22%;
				left: 50%;
				border: 2px solid #00c9b1;
				transition: 0.9s ease-in-out;

			}
		}
       
        .feature-icon{
            transform: translate(-50%, -50%);
            position: absolute;
            top: 25%;
            left: 50%;
            width: 35px;
            height: 35px;
			box-sizing: border-box;
			border: 1px solid #00c9b1;
			text-align: center;
			transition: 0.9s ease-in-out;
                i{
					margin-top: 9px;
                    font-size: 15px;
					color: #00c9b1; 
					
                }
        }
        h4{
            margin-top: 90px;
            font-size: 20px;
            font-weight: 400;
            color: #232323;
        }
        p{
            margin-top: 15px;
            font-weight: 400;
            color: #626262;
			text-align:center;
			
        }
    }
}

.portfolio-buttons{
    .buttons{
    width: 140px;
    height: 40px; 
    position: relative;
    transition: 3s;
    overflow: hidden;
    border: 1px solid #00c9b1;
    margin-top: 25px;
    a{
        position: relative;
        z-index: 5;
        color: white;
    }
    .button{
        width: 100%;
        height: 40px;
        background-color: white;
        color: #00c9b1;;
        position: absolute;
        transition: 0.8s;
        top: 0px;
        left: 0px;
        
        }
        .button-overlay, .button-overlay-top{
            width: 100%;
            height: 40px;
            background-color: #00c9b1;
            position: absolute;
            z-index: 3;
            top: 0px;
            left: 0px;
            transition: 0.8s;
        }
        &:hover{
            .button-overlay{
            width: 0;
            top: 0;
            left: 140px;
            }
            .button-overlay-top{
                height: 0;
                top: 40px;
            }
            
            a{
                color: #00c9b1;
            }
        }
    }
}