#subscribe{
    .container-fluid{
        background-image: url(../img/10.jpg);
        background-color: rgba(1, 1, 1, 0.5);
        background-blend-mode: color;
        background-attachment: fixed;
        background-position: center center;
        .container{
            .row{
                .subscribe-block{
                    text-align: center;
                    input::placeholder{
                        color: white;
                        font-weight: 600;
                    }
                    .form-control{
                        border-radius: 0;
                        width: 350px;
                        height: 40px;
                        outline: none;
                        background: rgba(255,255,255,0.4);
                        border: none;
                        

                    }
                   
                    h1{
                        color: white;
                        margin-bottom: 25px;
                        padding-top: 70px;
                        font-weight: 400;
                    }
                    .sub-icons{
                        margin-top: 25px;
                        
                        .sub-icons-blok{
                            width: 43px;
                            height: 43px;
                            color: white;
                            box-sizing: border-box;
                            border: 2px solid white;
                            text-align: center;
                            margin-right: 17px;
                            &:hover{
                             background-color: #00c9b1;
                             border: none;
                             transition: 0.2s;
                             i{
                                 color: white;
                                 transition: 1.5s ease 0s;
                             }
                         }
                            i{
                               color: white;
                               font-size: 16px;
                               margin-top: 10px; 
                            }
                        }
                    }
            }










                    .buttons{
                        width: 140px;
                        height: 40px; 
                        position: relative;
                        transition: 3s;
                        overflow: hidden;
                        border: 1px solid #00c9b1;
                        
                        a{
                            position: relative;
                            z-index: 5;
                            color: white;
                        }
                        .button{
                            width: 100%;
                            height: 40px;
                            background-color: white;
                            color: #00c9b1;;
                            position: absolute;
                            transition: 0.8s;
                            top: 0px;
                            left: 0px;
                            
                            }
                            .button-overlay, .button-overlay-top{
                                width: 100%;
                                height: 40px;
                                background-color: #00c9b1;
                                position: absolute;
                                z-index: 3;
                                top: 0px;
                                left: 0px;
                                transition: 0.8s;
                            }
                            &:hover{
                                .button-overlay{
                                width: 0;
                                top: 0;
                                left: 140px;
                                }
                                .button-overlay-top{
                                    height: 0;
                                    top: 40px;
                                }
                                
                                a{
                                    color: #00c9b1;
                                }
                            }
                        }
                
            }
        }
    }
}