#team {
    .container{
        .team-block{
            height: 335px;
            border-bottom: 2px solid #00c9b1;
            box-sizing: border-box;
            text-align: center;

            .team-photo{
                width: 100%;
                height: 270px;
                position: relative;
                overflow: hidden;

//BU TEAM ICONSU TAP HARA SOXACAGSAN KI HOVER EDENDE GORSENSIN
                    .team-icons{
                        width: 100%;
                        height: 43px;
                        position: absolute;
                        top: 40%;
                        left: 0;
                        opacity: 0;
                        z-index: 10;
                        .team-icons-block{
                            box-sizing: border-box;
                            border: 1px solid white;
                            width: 40px;
                            height: 40px;
                            transition: 0.3s;
                            &:hover {
                                background-color: #00c9b1;
                            }
                            i{
                                color: white;
                                font-size: 20px;
                                margin-top: 9px;
                                
                            }
                        }
                    }
                
                &:hover{
                    .team-icons{
                        opacity: 1;
                        top: 43%;
                        transition: 1s;
                    }
                    .overflow-top{
                        opacity: 1;
                        transition: 0.5s;
                        width: 100%;
                        height: 100%;
                        z-index: 3;
                    }
                    .overflow-bottom{
                        top: 100%;
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .overflow-top{
                    width: 0%;
                    height: 0%;
                    background-color: rgba(0, 0, 0, 0.589);
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    z-index: 2;
                   
                }
                .overflow-bottom{
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 73px 299px;
                    border-color: transparent transparent white transparent;
                    position: absolute;
                    top: 74%;
                    left: 10%;
                    opacity: 1;
                    transition: 0.5s ease-in-out;
                }
                
            }

            h5{
                margin-top: 10px;
                margin-bottom: 0;
                font-style: italic;
            }
            p{
                font-style: italic; 
                color: #00c9b1;
            }


        }
    }

}